.root {
    -fx-background-color: #C3ECB2;
    -fx-padding: 40px;
}

.label {
    -fx-text-fill: #665F54;
}

.text-field, .button, .combo-box {
    -fx-background-color: #B4E8F5;
    -fx-border-color: #1d1d1d;
    -fx-border-radius: 8px;
}

.text-field:hover, .button:hover, .combo-box:hover {
    -fx-background-color: #E6EDA6;
}


.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}